@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes audio-bar {
  0%, 100% { height: 20%; }
  50% { height: 80%; }
}

.animate-audio-bar {
  animation: audio-bar 0.5s infinite ease-in-out;
}
